

@{

    <div class="jumbotron">
        <center>
            <h1>FERIA ARTESANAL</h1>

        </center>
    </div>
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Esta es la pestaña del usuario</p>
