@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>
        <h1>FERIA ARTESANAL</h1>
        @* <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>*@
        @* <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    </center>
</div>

<div class="row">
    <div class="col-md-13">
        <center>
            <h2>Descripcion</h2>
            <p>
                Las ferias de artesanía forman parte del acervo cultural puertorriqueño. 
                La feria o festival es un mercado en el que se exhiben y venden productos 
                de confección manual de uso práctico o de valor estético y artístico. Estas ferias, 
                generalmente, se especializan en una pieza artesanal de larga tradición de la que proviene 
                su nombre, como por ejemplo, el “Festival de la hamaca” que se celebra en el municipio de San 
                Sebastián en el mes de julio. También, se dedican ferias artesanales a figuras importantes de la 
                comunidad que suelen ser artesanos y músicos o a personas destacadas en la formación y desarrollo 
                del municipio. La celebración de las fiestas incluye exhibiciones artesanales, música y kioscos de comida típica.
            </p>
        </center>
            @* <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        @*<h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
       @* <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        @*<h2>Web Hosting</h2>*@
       @* <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>*@
       @* <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>